@import "../../styles/consts.scss";

// screens
// $lg: 1280px;
// $md: 1024px;
// $sm: 768px;
// $xs: 360px;

.header {
  padding: 8px 0;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBlack {
  cursor: pointer;
}

.rightNav {
  display: flex;
}

.loginBlock {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.login {
  margin-right: 8px;
  text-decoration: none;
  color: #343440;
}

.loginImage {
  margin-right: 8px;
}
