@import "../../styles/consts.scss";

.header {
  padding: 8px 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBlack {
  cursor: pointer;
}

.rightNav {
  display: flex;
}

.loginBlock {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.login {
  margin-right: 8px;
  text-decoration: none;
  color: #343440;
}

.loginImage {
  margin-right: 8px;
}