.header {
  padding: 14px 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBlack {
  cursor: pointer;
}

// .navMenu {
//     display: flex;
// }

// .menuItem {
//     color: #343440;
//     font-size: 14px;
//     padding: 6px;
//     cursor: pointer;
// }
