@import "styles/consts";

.solution {
  background: linear-gradient(180deg, #FFFFFF 0%, #F4F5F7 27.33%, #F3F4F6 100%);
  padding: 20px 0;
}


.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .title {
//   color: #343440;
//   text-align: center;
//   margin: 0;
//   font-weight: 600;
//   max-width: 760px;
//   font-size: 32px;
//   margin-bottom: 20px;
// }

// .text {
//   color: #343440;
//   text-align: center;
//   margin: 0;
//   max-width: 640px;
//   font-size: 18px;
//   padding: 20px 0 40px;
//   line-height: 28px;
// }

.tasksBlock {
  display: flex;
  justify-content: space-between;

  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
  }
}
