@import "styles/consts";

.btn {
  padding: 16px 24px;
  color: $white;
  font-size: 14px;
  font-weight: 700;
  background-color: #d11152;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.06);
  border-color: transparent;
  cursor: pointer;
}

.bordered {
  // color: $white;
  // font-size: 14px;
  // font-weight: 500;
  // border-radius: 6px;
  // background-color: transparent;
  // box-shadow: 0 4px 36px 0 rgba(0,0,0,0.06);
  // border: 2px solid $white;
  // cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  color: #092332;
  border: 1px solid #092332;

  &:hover {
    background-color: #0a0a29;
    color: #fff;
    transition-property: background-color,color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    transition-delay: 0ms;
  }
}
