.firstBlock {
  padding: 20px 0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 46px;
  line-height: 48px;
  max-width: 470px;
}

.text {
  font-size: 26px;
  line-height: 30px;
  max-width: 384px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 50px;
}

.coloredText {
  font-weight: 700;
  color: rgb(169, 39, 230);
}


