.task {
  width: 400px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  padding: 0 42px;
}

.title {
  color: #343440;
  font-size: 24px;
  font-weight: bold;
  padding-top: 56px;
  padding-bottom: 40px;
  line-height: 30px;
  text-align: center;
}

.question {
  color: #343440;
  margin-bottom: 10px;
  font-size: 18px;
}

.btns {
  padding: 30px 30px;
  display: flex;
  justify-content: center;
}
