.task {
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.06);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  padding: 20px 30px;
}

.title {
  color: #343440;
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 22px;
  line-height: 30px;
  max-width: 248px;
}

.question {
  color: #343440;
  margin-bottom: 10px;
  font-size: 18px;
}

.btns {
  padding: 30px 30px;
}


