.examples {
  background-color: #eff3f2;
  padding: 40px 0;
}

.example {
  display: flex;
  padding: 40px 0;
}

.rightBlock {
  padding-left: 30px;
  padding-top: 16px;
}

.title {
  padding: 8px 0;
  font-weight: 700;
  color: #343440;
}

.text {
  color: #343440;
}
