.cases {
    margin-bottom: 30px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 33px;
}

.case {
  display: flex;
}

.rightBlock {
  padding: 30px;
}

.name {
  font-size: 24px;
  margin-bottom: 30px;
  color: #343440;
}

.text {
  font-size: 16px;
  line-height: 25px;
  max-width: 400px;
  color: #343440;
}


