@import "styles/consts";

// screens
// $lg: 1280px;
// $md: 1024px;
// $sm: 768px;
// $xs: 360px;

.background {
  background-color: #FFFFFF;
}

.main {
  background-color: #FFFFFF;
  border-radius: 0 0 160px 0;
  padding: 14px;
  margin-top: 35px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.content {
  max-width: 536px;
  @media (max-width: $md) {
    margin-bottom: 30px;
  }
}

.title {
  color: #343440;
  font-size: 46px;
  margin-bottom: 28px;
  line-height: 48px;

  @media (max-width: $md) {
    font-size: 42px;
    margin-bottom: 18px;
    text-align: center;
  }
}

.text {
  color: #343440;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  line-height: 28px;

  @media (max-width: $md) {
    text-align: center;
  }
}

.wrapperBtns {
  display: flex;

  & > div:first-of-type {
    margin-right: 20px;

    @media (max-width: $sm) {
      margin-right: 0;
    }
  }

  @media (max-width: $md) {
    justify-content: center;
  }

  @media (max-width: $sm) {
    flex-direction: column;
    text-align: center;
  }
}

.btn {
  @media (max-width: $sm) {
    margin-bottom: 20px;
  }
}

.video {
  @media (max-width: 1350px) {
    width: 504px;
    height: 284px;
  }

  @media (max-width: $lg) {
    width: 454px;
    height: 256px;
  }

  @media (max-width: 1182px) {
    width: 422px;
    height: 238px;
  }

  @media (max-width: $md) {
    width: 408px;
    height: 230px;
  }

  @media (max-width: $sm) {
    display: none;
  }
}
