@import "../../styles/consts.scss";

// screens
// $lg: 1280px;
// $md: 1024px;
// $sm: 768px;
// $xs: 360px;

.footer {
  background-color: #343440;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.logoBlock {
  padding-top: 30px;
}

.logoWhite {
  cursor: pointer;
}

.rightFooter {
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.navLogoImg {
  width: 130px;
  height: 28px;
  margin-top: 52px;
  cursor: pointer;
}

.menuItems {
  padding: 30px;
}

.menuName {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.blockList {
  padding: 0;
}

.menuList {
  list-style-type: none;
  margin-top: 12px;
}

.linkItems {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.documents {
  margin-top: 30px;
}
