.try {
  padding: 80px 0;
  background-color: #eff3f2;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: #343440;
  font-size: 40px;
  margin-bottom: 30px;
}

.text {
  color: #343440;
  font-size: 18px;
  line-height: 23px;
  max-width: 612px;
}

.btnText {
  color: #343440;
  font-size: 16px;
  margin-top: 14px;
  text-align: center;
}
